html, body {

  height: 100%;

}

header {
  background-color: black;
  padding: 0;
  margin:0;
  padding-top: 0;
  /*position: absolute;*/
/*width: 1903px;*/
height: 60px;
left: 0px;
top: -3px;
}
.white {
  color: #FFFFFF;
}

.orange {
  color: #FF6B3C;
}

.cart{
  /*text-align:  center;
  width: 100%;*/
  text-align: right;
   float: right;
     width: 35%;
     margin-right: 50px;
     margin-bottom: 21px;
    margin-top: 18px;
     font-size: 14pt;
     color: #FF6B3C;

}

.model {
  margin-bottom:20px; 
}

.cost input[type="button"] {
  float: left; 
  margin-right:25px;
}


/*div.gadget ~ span {
  margin-bottom:20px;
  color: green;

}*/

.sort-buttons{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 20px;
} 

button.ProductName{
  height: 40px;
  width: 195px;
  
  /*left: 100px;
  top: 100px;*/
}

.container {
/*display: flex;
*/
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 -20px
}

.gadget{
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  text-align:  center;
}

.cost{
  display: flex;
  flex-direction: row;

}


.money{
   text-align: right;
   float: right;
     width: 55%;
}
  
/*.container img {
  width: 200px ;
  height: 300px;
}*/
footer {
  background-color: black;
  /*width: 1903px;*/
/*height: 90px;*/
top: 1617px;
color: #FF6B3C;

  /* 
left: 0px;
top: -3px;
 */
}
.shop-name {
  color: white;
}

body {

  display: flex;

  flex-direction: column;

}



.container {

    display: flex;

    width: 100%;

    flex-wrap: wrap;

    margin: 0 -20px;

    flex: 1 0 auto;

    }

footer {

    background-color: black;

    flex-shrink: 0;

    top: 1617px;

  color: #FF6B3C;